name: common-docker
lang: python
lang_version: "3.9"
git:
  enable: true
semaphore:
  enable: true
  execution_time_limit: {"hours": 1}
  pipeline_type: cp-dockerfile
  docker_repos: ['confluentinc/cp-base-java','confluentinc/cp-base-new', 'confluentinc/cp-base-lite', 'confluentinc/cp-jmxterm']
  community_docker_repos: []
  community_maven_modules: []
  build_arm: true
  os_types: ["ubi9"]
  nano_version: true
  maven_skip_deploy: true
  pip_install_package: 'tox==3.28.0'
  push_latest: true
  use_packages: true
  cp_images: true
  sign_images: true
  tasks:
    - name: cp-dockerfile-build
      branch: master
      pipeline_file: .semaphore/cp_dockerfile_build.yml
      parameters:
        - name: CONFLUENT_VERSION
          required: true
          default_value: 'NONE'
        - name: PACKAGES_URL
          required: true
          default_value: 'NONE'
        - name: PACKAGES_MAVEN_URL
          required: true
          default_value: 'NONE'
        - name: PACKAGING_BUILD_NUMBER
          required: true
          default_value: 'NONE'
        - name: ALLOW_UNSIGNED
          required: true
          default_value: 'False'
          options:
            - 'True'
            - 'False'
        - name: CONFLUENT_DEB_VERSION
          required: true
          default_value: '1'
        - name: SKIP_COMMUNITY
          required: false
          default_value: 'False'
          description: 'Skip building community docker images'
          options:
            - 'True'
            - 'False'
    - name: cp-dockerfile-promote
      branch: master
      pipeline_file: .semaphore/cp_dockerfile_promote.yml
      parameters:
        - name: CONFLUENT_VERSION
          required: true
          default_value: 'NONE'
        - name: IMAGE_REVISION
          required: true
          default_value: '1'
        - name: UPDATE_LATEST_TAG
          required: true
          default_value: 'NONE'
        - name: PACKAGING_BUILD_NUMBER
          required: true
          default_value: 'NONE'
        - name: PROMOTE_OS_TYPE
          required: true
          default_value: 'NONE'
          options:
            - 'deb'
            - 'ubi'
        - name: SKIP_COMMUNITY
          required: false
          default_value: 'False'
          description: 'Skip publishing community docker images'
          options:
            - 'True'
            - 'False'
code_artifact:
  enable: true
  package_paths:
    - maven-snapshots/maven/io.confluent/cp-jmxterm
    - maven-snapshots/maven/io.confluent/cp-base-lite
    - maven-snapshots/maven/io.confluent/cp-base-new
    - maven-snapshots/maven/io.confluent/docker-utils
    - maven-snapshots/maven/io.confluent/utility-belt
    - maven-snapshots/maven/io.confluent/common-docker
    - maven-snapshots/maven/io.confluent/cp-base-java
